    <!-- HERO -->
    <div class="hero">
      <div class="logo">
        <img src="../../../../../assets/img/adra-horizontal-logo 1.png" alt="logo ADRA" />
        <p>adra</p>
      </div>

      <div class="hero_title">
        <h1>Ayudar es <span>Educar</span></h1>
        <h2>aprende, crea e inspira</h2>
      </div>

      <app-button  class="btn-primary" name="Inicio de Sesión" routerLink="login"></app-button>
      <p class="hero_information">
        No tienes cuenta: <span>Comunicate con tu Asesor</span>
      </p>
    </div>

    <!-- CONTRIBUYENTES -->
    <div class="contributors">
      <p>Con la confianza de:</p>
      <h2>ADRA</h2>
      <h2>UPeU</h2>
    </div>

    <!-- BENEFICIOS -->
    <div class="benefits">
      <img src="../../../../../assets/img/beneficios.png" alt="beneficios" />
      <div class="benefits_content">
        <h2>Beneficios de capacitarse en ADRA educate</h2>
        <ul>
          <li>
            <img src="../../../../../assets/img/clockrelojIcon.png" alt="Eficiente" />
            <p>Eficiente</p>
          </li>
          <li>
            <img src="../../../../../assets/img/calendar.png" alt="Flexible" />
            <p>Flexible</p>
          </li>
          <li>
            <img src="../../../../../assets/img/edit.png" alt="Didactico" />
            <p>Didactico</p>
          </li>
        </ul>
      </div>
    </div>

    <!-- MENSAJE -->
    <div class="message">
      <h1>Aprende y capacitate <span>para que tus negocios</span> crezcan.</h1>
      <button class="btn-primary">Comenzar</button>
    </div>
