.main_login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  min-height: 40vh;
}

.main_login h2 {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 30px;
  color: var(--primary-color);
}

.main_login .iDni {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.loading-background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: rgba(255, 255, 255, 0.46);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: var(--primary-color);

  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
