.details__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  grid-template-rows: 100px 650px;
  grid-template-areas:
    "headerDetails spaceQuizz"
    "contentDetails embededDocument";
}

.header__details {
  grid-area: headerDetails;
}

.header__details h2 {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 41px;
  margin-bottom: 15px;
}

progress {
  width: 400px;
  height: 20px;
}

.content__details {
  grid-area: contentDetails;
}

.sesiones__details {
  margin-top: 20px;
  display: flex;
  padding: 10px 0;
  width: 550px;
  height: auto;
  overflow-x: scroll;
  margin-bottom: 15px;
}

.sesiones__details app-button {
  margin: 5px 0;
}

.embededDocument {
  grid-area: embededDocument;
  height: 100%;
  width: 100%;
  background-color: var(--secundary-color_whiteitermedio);
  border-radius: 10px;
}

.embededDocument iframe {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.descargarDocument {
  width: 100px;
  height: 40px;
  background-color: var(--secundary-color_whiteitermedio);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.descargarDocument a {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  color: var(--blueblackoscuro);
  padding: 20px;
}

app-button {
  cursor: pointer;
}

.recurso__details {
  width: 85%;
  height: 80%;
  border-radius: 10px;
  background-color: var(--secundary-color_whiteitermedio);
}

.spaceQuizSessionDate {
  grid-area: spaceQuizz;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
