<div class="content-global">
  <div class="details__grid">
    <div class="header__details">
      <h2>Facebook ADS en paginas web privadas</h2>
      <progress max="100" value="34"></progress>
    </div>

    <div class="content__details">
      <div class="sesiones__details">
        <app-button name="SESION ACTUAL" [paddingRL]="8" [fontSize]="10" [paddingTB]="3"></app-button>
        <app-button name="Sesión 1" [paddingRL]="8" [fontSize]="10" [paddingTB]="3"></app-button>
        <app-button name="Sesión 2" [paddingRL]="8" [fontSize]="10" [paddingTB]="3"></app-button>
        <app-button name="Sesión 3" [paddingRL]="8" [fontSize]="10" [paddingTB]="3"></app-button>
      </div>
      <div class="recurso__details">
        
      </div>
    </div>
  </div>
</div>
