<div>

  <h2 class="title-page">Persona</h2>

  <div class="acciones-ventana">
    <app-button [fontSize]="14" [paddingRL]="10" [paddingTB]="10" name="importar" icon="./assets/icon/database.svg"
      type="file"></app-button>
    <app-button (click)="onChangeStateForm()" [fontSize]="14" [paddingRL]="25" [paddingTB]="10" name="Crear persona"
      icon="./assets/icon/credit-card.svg">
    </app-button>
  </div>

  <app-table name="Personas" [header]="header" [dataTable]="personasList$"></app-table>


  <div class="user-form" [class.active]="stateForm">
    <form class="formPersona" [formGroup]="formPersona">
      <input type="text" placeholder="nombre" formControlName="noPersona">
      <input type="text" placeholder="apellido paterno" formControlName="apPaterno">
      <input type="text" placeholder="apellido materno" formControlName="apMaterno">
      <input type="text" placeholder="nº telefono" formControlName="nuTelefono">
      <input type="text" placeholder="nº dni" formControlName="nuDni">
      <input type="text" placeholder="direccion" formControlName="diPersona">

      <select formControlName="tiSexo">
        <option value="F" [defaultSelected]="true">Femenino</option>
        <option value="M">Masculino</option>
      </select>

      <select formControlName="idBancoComunal">
        <option [value]="banco.idBancoComunal" *ngFor="let banco of bancoList$|async ">{{banco.noBancoComunal}}</option>
      </select>

    </form>
    <div class="opcionesPersona">
      <button class="crearPersona" (click)="onSavePersona()" *ngIf="stateButtonsAccion; else editar">Crear</button>

      <ng-template #editar>
        <button class="editarPersona">Editar</button>
      </ng-template>


      <button class="cerrarPersona" (click)="onChangeStateForm()">Cerrar</button>
    </div>
  </div>

</div>
