<div class="main_user-container">
  <div class="user_header">
    <h3 class="user_title">{{name}} en ADRA educate</h3>
    <input class="user_search" type="text" placeholder="Buscar" />
  </div>
  <div class="table">
    <div class="table_header grid-table-colm">
      <div class="th" *ngFor="let head of header"><span>{{head}}</span></div>
    </div>
    <div class="table_content">
      <app-table-items [data]="data" *ngFor="let data of dataTable | async" (dataItem)="onData($event)" (typeButton)="onAccion($event)">
      </app-table-items>
    </div>
  </div>
