<aside class="aside">
  <div class="logo-admin">
    <img src="../../../../assets/img/logo.png" alt="">
    <h2>ADRA</h2>
  </div>
  <div class="panel-container">
    <app-button icon="./assets/icon/activity.svg" name="Panel" routerLink="banco" routerLinkActive="active"></app-button>
  </div>
  <div class="aec">
    <app-acordeon title="educate creators" [acordeonItem]="acordeonItemListEC"></app-acordeon>
    <app-acordeon title="educate service" [acordeonItem]="acordeonItemListES"></app-acordeon>
  </div>
</aside>
