<div class="block__ranking">
  <div class="item__ranking1">
    <div class="content__item">
      <p>Numeros de capacitaciones asistidas</p>
      <h3>Capacitaciones asistidas : 5</h3>
    </div>
    <div class="icon__item">
      <img src="../../../../../assets/icon/layers.svg" alt="">
    </div>
  </div>
  <div class="item__ranking2">
    <div class="content__item">
      <p>Numeros de pedidos de Oracion</p>
      <h3>Pedidos de Oracion : 0</h3>
    </div>
    <div class="icon__item">
      <img src="../../../../../assets/icon/award.svg" alt="">
    </div>
  </div>
  <div class="item__ranking3">
    <div class="content__item">
      <p>Enlace de la ultima capacitacion</p>
      <h3 class="link">ver mas ...</h3>
    </div>
    <div class="icon__item">
      <img src="../../../../../assets/icon/book.svg" alt="">
    </div>
  </div>
</div>
