@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400&family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --primary-color: #007b5f;
  --secundary-color_gray: #37444d;
  --secundary-color_white: #ffffff;
  --secundary-color_black: #0f1419;
  --secundary-color_whiteoscuro: #f0f3f4;
  --secundary-color_whiteitermedio: #f7f9f9;
  --blueblackoscuro: #192734;
  --blueblackintermedio: #14202b;
  --secundary-color_grayclaro: #8698a4;
}

.title-page {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0.005em;
  color: var(--secundary-color_gray);
  padding-bottom: 20px;
  border-bottom: solid var(--secundary-color_whiteoscuro) 2px;
}

.content-global {
  padding: 20px 40px;
  z-index: 1;
}

.logo-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50px;
}

.logo-user img {
  width: 45px;
  height: 30px;
  object-fit: contain;
}

.logo-user h2 {
  font-family: Noto Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.005em;
  color: var(--primary-color);
}








/* table */
.main_user-container {
  width: 100%;
  min-height: 453px;
  background-color: var(--secundary-color_whiteitermedio);
  padding: 15px;
  box-sizing: border-box;
  border-radius: 5px;
}

.user_header {
  display: grid;
  grid-template-columns: 1fr 0.7fr;
  gap: 35px;
  align-items: center;
  margin-bottom: 22px;
}

.user_title {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: var(--secundary-color_gray);
}

.user_filtro {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
}

.user_filtro li {
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 30px;
  font-size: 14px;
  font-weight: 600;
  font-family: "Ubuntu", sans-serif;
}

.user_filtro li span {
  padding-left: 5px;
  color: var(--secundary-color_gray);
}

/* .user_leyenda li::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--primary-color);
  margin-right: 5px;
} */

.user_search {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  padding: 9px 18px;
  border-radius: 10px;
  border: 2px solid var(--secundary-color_grayclaro);
  box-sizing: border-box;
}

.user_search:focus {
  outline: none;
  border-width: 2px;
  border-color: var(--primary-color);
}

.table {
  width: 100%;
  min-height: 356px;
  background-color: var(--secundary-color_white);
  font-family: "Ubuntu", sans-serif;
  border-radius: 20px;
  padding: 0 10px;
  box-sizing: border-box;
}

.table_content {
  width: 100%;
  max-height: 300px;
  overflow-y: scroll;
}

.table_header {
  width: 100%;
}

.grid-table-colm {
  width: 100%;
  display: grid;
  grid-template-columns: 50px calc(25% - 50px) 15% 20% 20% 20%;
}

.table .table_body .tb,
.table .table_header .th {
  box-sizing: border-box;
  padding: 13px 10px;
  overflow: hidden;
  align-self: center;
}
.table .table_body .tb span,
.table .table_header .th span {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  font-size: 14px;
  -webkit-line-clamp: 1;
  line-height: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--secundary-color_gray);
}

.table .table_body .tb span {
  font-weight: 500;
  text-align: center;
  color: var(--secundary-color_grayclaro);
}

.table .table_header .th span {
  font-weight: 700;
  text-align: center;
}

.acciones__user {
  display: flex;
  justify-content: center;
}

.acciones__user app-button{
  cursor: pointer;
  padding: 0px 2px;
}

.table_body:hover{
  background: var(--secundary-color_whiteitermedio);
  border-radius: 20px;
}
















/* diseño paginas admin */
.acciones-ventana {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}

.acciones-ventana app-button {
  margin-left: 10px;
}

.user-form {
  position: fixed;
  top: 0;
  left: 60%;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.898);
  border: 2px solid var(--secundary-color_whiteoscuro);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: all ease-out 0.5s;
  transform: translateX(100%);
  padding: 30px;
}

.opcionesPersona {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-self: center;
}

.opcionesPersona button {
  padding: 12px 25px;
  margin-bottom: 5px;
  border-radius: 10px;
  background-color: transparent;
  font-weight: bolder;
  cursor: pointer;
  font-size: 14px;
}

.opcionesPersona .cerrarPersona {
  border: #db5b5b solid 3px;
  color: #db5b5b;
}

.opcionesPersona .crearPersona {
  border: var(--primary-color) solid 3px;
  color: var(--primary-color);
}

.opcionesPersona .editarPersona {
  border: var(--blueblackintermedio) solid 3px;
  color: var(--blueblackintermedio);
}

.formPersona {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.formPersona input,
select {
  padding: 12px;
  width: 80%;
  margin: 8px;
  border-radius: 8px;
  outline: none;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  border: none;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
}

.active {
  transform: translateX(0%);
}





