.header__quiz {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  min-height: 80px;
  margin-bottom: 30px;
}

.header__quiz .title h2 {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  color: var(--primary-color);
  align-self: flex-start;
}

.header__quiz p {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: var(--secundary-color_grayclaro);
  align-self: flex-end;
}

.content__quiz {
  width: 100%;
  background: var(--secundary-color_whiteitermedio);
  min-height: 500px;
  border-radius: 10px;
  padding: 30px;
}

.content__quiz h3 {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bolder;
  font-size: 20px;
  color: var(--secundary-color_gray);
  margin-bottom: 20px;
}

li {
  display: flex;
  align-items: center;
  padding: 30px 20px;
  border-radius: 10px;
}

li:hover {
  background: var(--secundary-color_whiteoscuro);
  cursor: pointer;
}

label input {
  margin-right: 10px;
}

li {
  list-style: none;
  color: var(--blueblackoscuro);
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}
